@charset "utf-8";
/* CSS Linekkit */
.fondo-transparente-negro
{
	background-color: rgba(0,0,0,0.6);
}
.borde-transparente-negro
{
	border-color: rgba(53,53,53,0.75);;
}
.letras-blancas
{
	color:#E9E2E2;
}
.letras-negras{
	color:#000 !important;
}
.fondo-transparente-blanco-090
{
	background-color: rgba(255, 255, 255, 0.9);
}
.fondo-transparente-negro-075
{
	background-color: rgba(0,0,0,0.75);
}
.fondo-transparente-000
{
	background-color: rgba(0,0,0,0);
}
.fondo-solido-rojo-1
{
	background-color:#C22E1D;
	color:#FFF;
}
.fondo-solido-azul-1
{
	background-color:#004397;
	color: #FFF;	
}
.linea-azul-1
{
	border-top:1px solid #434369;
}